/* Global Styles */

/* font styling */

body {
    font-family: "Urbanist", sans-serif;
}

.urbanist-bold {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
}

.urbanist-light {
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
}


h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 24px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.logo {
	width: 125px;
	height: auto;
}

.text-shadow {
	text-shadow: 2px 2px 10px rgb(17,22,21);
}

#body {
	margin: 0 0;
}
button.normal {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: #000;
	background-color: #FFF;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}
#header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #F3EEDB;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
	
}
/* Hamburger Menu Toggle */
.menu-toggle {
    display: none;
    cursor: pointer;
}

#close {
	display: none;
}
/* Navagation Bar Styles */
#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}
#navbar li {
	list-style: none;
	padding: 0 15px;
	position: relative;
}
#navbar li a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	color: #0A3900;
}
#navbar li a:hover, #navbar li a.active {
	font-weight: 500;
	color: #B4A77E;
	transition: 0.3s;
}

/* Welcome Section */
#welcome {
	background-image: url("img/about-banner.jpg");
	height: 20vh;
	width: device-width;
	background-size: cover;
	background-position: top 45% right 10%;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
}

/* WHO-Dat Section */
#who-dat {
	padding: 20px 80px;
	padding-bottom: 0;
	text-align: center;
	
}
#who-dat h2 {
	font-size: 42px;
	color: #0a3900;
	margin: 15px 0 0 0;
}
#who-dat p {
	font-size: 32px;
	margin: 10px 0;
	color: #286C19;
	font-weight: 700;
}

/* Mission statments */
#mission-stats {
	padding: 40px 80px;
	padding-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#mission-stats .col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;

}


/*Banner Box 1 */
#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url("img/banner1.png");
	background-color: #a2c6bf;
	width: 100%;
	height: 25vh;
	background-size: cover;
	background-position: center;
}
#banner h4 {
	color: #FFF;
	font-size: 30px;
	margin: 10px 0;
}
#banner h2 {
	color: #0A3900;
	font-size: 45px;
	margin-bottom: 5px;
	margin-top: 0;
}
#banner h2 span {
	color: #eed0de;
	margin-bottom: 4px;
	margin-top: 0;
}
#banner button:hover {
	background: #A2C6BF;
	color: #FFF;
}

/* Newsletter Shtuff */
#newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-color: #5B7B74 ;
	background-repeat: no-repeat;
}
#newsletter h4 {
	margin-left: 80px;
	font-size: 22px;
	font-weight: 700;
	color: #FFF;
}
#newsletter p {
	margin-left: 80px;
	font-size: 14px;
	font-weight: 600;
	color: #0A3900;
}
#newsletter p span {
	color: #F3C969;
}
#newsletter .form {
	display: flex;
	width: 40%;
}
#newsletter input {
	height: 3.125rem;
	padding: 0 1.25em;
	font-size: 14px;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	border-outline: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
#newsletter button {
	margin-right: 80px;
	background-color: #0A3900;
	color: #FFF;
	white-space: nowrap;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*footer area */
footer {
	padding: 40px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #f3eedb;
}

footer .col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;	
}

footer .logo {
	margin-bottom: 30px;
}

footer h4 {
	font-size: 14px;
	padding-bottom: 20px;
}

footer p {
	font-size: 13px;
	margin: 0 0 8px 0;
}

footer a {
	font-size: 13px;
	text-decoration: none;
	color: #222;
	margin-bottom: 10px;
}

footer .follow {
	margin-top: 20px;
}

footer .follow i {
	color: #465b52;
	padding-right: 4px;
	cursor: pointer;
}

footer .follow i:hover, footer a:hover {
	color: #F3C969;
}

footer .copywrite {
	width: 100%;
	text-align: center;
}

/* Responsive Designs - Media */

/* For devices with a max-width of 768px (e.g., tablets) */
@media (max-width: 768px) {
	
	#navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: #F3EEDB;
        flex-direction: column;
        padding: 50px 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: all 0.5s;
    }

    #navbar li {
        margin-bottom: 20px;
    }

    #navbar li a {
        font-size: 20px;
    }

    .menu-toggle {
        display: block;
    }

    #close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #000;
        cursor: pointer;
    }

    #navbar.show {
        left: 0;
    }
	
    #header {
		height: 12vh;
        padding: 10px 20px;
        flex-direction: center;
    }
	
    #welcome {
        padding: 0 20px;
        height: auto;
    }

    #line1, #line2 {
        padding-left: 0;
        margin: 10px 0;
        text-align: center;
    }

    #who-dat {
        padding: 0 20px;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }

    #who-dat .products {
        width: 90%;
        margin: 10px 0;
    }

    #newsletter {
        flex-direction: column;
        padding: 20px;
    }

    #newsletter h4, #newsletter p {
        margin-left: 0;
        text-align: center;
    }

    #newsletter .form {
        width: 100%;
        margin: 10px 0;
    }

    #newsletter button {
        margin-right: 0;
        width: 100%;
    }
}

/* For devices with a max-width of 576px (e.g., mobile phones) */
@media (max-width: 576px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .logo {
        width: 100px;
    }

    button.normal {
        font-size: 12px;
        padding: 10px 20px;
    }

    #welcome {
		background-image: url("img/about-banner.jpg");
		height: 12vh;
		width: device-width;
		background-size: cover;
	}
	
	#welcome h4 {
		font-size: 30px;
	}
	
	#line1 {
		
		margin-bottom: 0;
	}
	
	#line2 {
		margin-top: 0;
		padding-bottom: 30px;
	}

	#who-dat h2 {
		margin-bottom: 0;
	}
	
    #who-dat p {
        font-size: 18px;
    }

    #who-dat .products h5 {
        font-size: 18px;
    }

    #who-dat .products h4 {
        font-size: 14px;
    }
	
	#banner {
		height: 25vh;
	}
	
    #banner h4 {
        font-size: 24px;
		margin-bottom: 0;
    }

    #banner h2 {
        font-size: 22px;
    }
	
	#banner button.normal {
		margin-bottom: 20px;
	}

    #newsletter input {
        font-size: 12px;
    }

    #newsletter h4 {
        font-size: 18px;
    }

    #newsletter p {
        font-size: 12px;
    }
	
}